*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*start nav*/
nav{

}
nav a{
    color: black;
    padding: 15px;
    text-decoration: none;
    display: inline-block;

}
nav span{
    float: right;
}

/*end nav*/



/*start header*/


/*end header*/