*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*start nav*/
nav{ position: sticky;
    top: 0px;
    background-color: white;

}
nav a{
    color: black;
    padding: 15px;
    text-decoration: none;
    display: inline-block;

}
nav span{
    float: right;
}

/*end nav*/



/*start header*/
header{
    position: relative;
}
header>p{
    position: absolute;
    bottom: 10%;
    float: left;
    padding-left: 35px;
    font-size: xx-large;
}

/*end header*/