*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*start nav*/
nav{ position: sticky;
    top: 0px;
    background-color: white;

}
nav a{
    color: black;
    padding: 15px;
    text-decoration: none;
    display: inline-block;

}
nav span{
    float: right;
}

/*end nav*/



/*start header*/
header{
    position: relative;
}
header>p{
    position: absolute;
    bottom: 10%;
    float: left;
    padding-left: 35px;
    font-size: xx-large;
}

/*end header*/
/*start section*/

section {
    padding-top: 60px;
    padding-bottom: 46;
    box-sizing: initial;
    display:inline-block;
    margin:auto


}
.c1{
    width: 49%;
    padding: 8px 35px;
    float: left;
    padding: 24px 24px;
    font-family: 'Times New Roman', Times, serif;
}
.c2{
    width: 49%;
    text-align: center;
    float: right;
    font-family:'Times New Roman', Times, serif;
    
}
.c2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c2 p span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*end section*/